body {
    font-family: 'Texturina', serif;
    background-color: #727374;
}

/* .sidebar { */
    /* border-radius: 10px; */
    /* background-color: white; */
    /* width: 50px; */
    /* height: 150px; */
/* } */

.navbar {
    list-style-type: none;
    padding: 10px;
    margin: -8px;
    display: flex;
    justify-content: flex-end;
}

.icon {
    list-style-type: none;
    /* padding: 50px; */
    display: flex;
    width: 50px;
}

.icon :hover {  
    cursor: pointer;
}

.navbar {
    background-color: #575a5e;
}

.logo {
    width: 95px;
    height: 95px;
    padding: -30px;
    margin: -88px;
    display: flex;
    justify-content: flex-end;   
    margin-right: 20px;
    margin-left: 100px;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}    